<div id="<%= dom_id shop %>">
  <p>
    <strong>Name:</strong>
    <%= shop.name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= shop.city %>
  </p>

  <p>
    <strong>Tenant:</strong>
    <%= shop.tenant_id %>
  </p>

</div>
