


<div class="row">
  <div class="col-sm-6">
    <h1>User Roles</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_user_role_path, class: 'btn btn-primary' do %>
    Add New ShoRolep
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
        <th>Loja</th>
      </tr>
    </thead>

    <tbody>
      <% @user_roles.each do |role| %>
        <%= content_tag :tr, id: dom_id(role), class: dom_class(role) do %>
          <td><%= link_to role.name, role %></td>
          <td>
            <%= check_box_tag 'canCreateShop', 'accepted', role.canCreateShop?, disabled: true %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

